<%- include("templates/header") %>
<link rel="stylesheet" href="/css/filters.css">
    <div>
        <% for (let i=0; i < ingredients.length; i++) { %>
            <div class="d-flex justify-content-center">
                <button id="ingredient<%= i %>" type="button" class="btn btn-primary m-5">
                    <%= ingredients[i] %>
                </button>
            </div>
            <% } %>
    </div>

    <a href="/lists">
        <button type="button" class="btn btn-primary btn-lg">Add Ingredients</button>
    </a>

    <form action="/generateRecipe" method="post">
        <button type="submit" class="btn btn-primary btn-lg">Generate Recipe</button>
    </form>

    <form class="py-5">
        <button id="keto" type="submit" class="btn btn-primary btn-lg">Keto/Low-carbs</button>
        <button id="glutenfree" type="submit" class="btn btn-primary btn-lg">Gluten free</button>
        <button id="vegan" type="submit" class="btn btn-primary btn-lg">vegan</button>
        <button id="dairyfree" type="submit" class="btn btn-primary btn-lg">Dairy-free</button>
    </form>

    <br>
    <br>
    <%- include("templates/navbar") %>
    <%- include("templates/footer") %>
