<%- include("templates/header") %>
<link rel="stylesheet" href="/css/filters.css">

<script src="/js/filters.js"></script>
    <div>
        <% for (let i=0; i < ingredients.length; i++) { %>
            <div class="d-flex justify-content-center">
                <button id="ingredient<%= i %>" type="button" class="btn btn-primary m-5">
                    <%= ingredients[i] %>
                </button>
            </div>
            <% } %>
    </div>

    <a href="/lists">
        <button type="button" class="btn btn-primary btn-lg">Add Ingredients</button>
    </a>

    <form action="/generateRecipe" method="post">
        <button type="submit" class="btn btn-primary btn-lg">Generate Recipe</button>
    </form>

    <form class="py-5">
        <button data-item="Keto" class="dietary-button btn btn-primary btn-lg">Keto</button>
        <button data-item="Gluten-free" class="dietary-button btn btn-primary btn-lg">Gluten-free</button>
        <button data-item="Vegan" class="dietary-button btn btn-primary btn-lg">Vegan</button>
        <button data-item="Vegetarian" class="dietary-button btn btn-primary btn-lg">Vegetarian</button>
        <button data-item="Lactose-free" class="dietary-button btn btn-primary btn-lg">Lactose-free</button>
        <button data-item="Pescatarian" class="dietary-button btn btn-primary btn-lg">Pescatarian</button>
        <button data-item="Kosher" class="dietary-button btn btn-primary btn-lg">Kosher</button>
        <button data-item="Low Carb" class="dietary-button btn btn-primary btn-lg">Low Carb</button>
    </form>

    <br>
    <br>
    <%- include("templates/navbar") %>
    <%- include("templates/footer") %>
