<%- include("templates/header") %>
<link rel="stylesheet" href="/css/lists.css">
    <style>
        .custom-button {
            width: 200px;
        }
      
    </style>

    

<div class="d-flex justify-content-center align-items-center flex-column py-5">
    <h1 class="text-center">Ingredient List</h1>
    <input type="text" id="search-input" class="text-center" placeholder="Search ingredients...">
  </div>
    
    <ul class="list-group list-unstyled align-items-center flex-column py-5">
      <!-- If ingredients amount is 0 then it prints all regular buttons non highlighted -->
        <% if(ingredients.length == 0) { %>
            <% for(let i = 0; i < list.length; i++) { %>
                <li>
                    <!--div for content in list-->
                    <div>
                        <form method="POST" action="/updateLocalIngredient">
                            <button type="submit" id="ingredient-List" class="btn btn-light custom-button m-2" name="foodName"
                                value="<%= list[i] %>" data-ingredient="<%= list[i] %>">
                                <%= list[i] %>
                            </button>
                        </form>
                    </div>
                </li>
            <% } %>
        <% } else { %>
          <!-- If ingredients selected is not 0 then it compares ingredients to the selected ones and prints the selected ones in a secondary background. -->
            <% for (let y = 0; y < list.length; y++) { %>
                <% let ingredientFound = false; %>
                <% for (let i = 0; i < ingredients.length; i++) { %>
                  <% if (ingredients[i] == list[y]) { %>
                    <% ingredientFound = true; %>
                    <% break; %>
                  <% } %>
                <% } %>
                <li>
                  <!--div for content in list-->
                  <div>
                    <form method="POST" action="/updateLocalIngredient">
                      <button type="submit" id="ingredient-List" class="btn <%= ingredientFound ? 'btn-secondary m-1' : 'btn-light m-1' %> custom-button" name="foodName" value="<%= list[y] %>" data-ingredient="<%= list[y].Food %>">
                        <%= list[y] %>
                      </button>
                    </form>
                  </div>
                </li>
              <% } %>
        <% } %>
    </ul>

    <div class="text-center done-btn">
        <a href="/filters" style="text-decoration: none;">
            <button type="button" id="stickyBtn" class="btn btn-lg done text-center">Done</button>
        </a>
    </div>

    <script src="/js/lists.js"></script>

 
    <%- include("templates/footer") %>