<%- include("templates/header") %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/members.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />

  <link rel="stylesheet" href="/css/members.css">


  <div id="nutritionCard">
    <div class="card-body text-center">
      <h5>Calorie counter</h5>
      <a type="button" class="btn calorie-btn" href="/loggedin/nutrition">
        Get Started <i class="bi bi-fire"></i>
      </a>
    </div>
  </div>

  <div class="header">
    <h1><img class="logo" src="/img/logo-no-background.png" alt="logo-no-background"></h1>
  </div>

  <h2>Welcome! <%= username %></h2>


  <div id="recipe-container">


    <!-- save button -->
    <form action="/saveRecipe" method="post">
      <div class="icon-container">
        <h5>Generated Recipe:</h5>
        <button class="btn save">
          <i class="bi bi-heart"></i>
          <i class="bi bi-heart-fill"></i>
        </button>
      </div>

    </form>
<!-- generate recipe button -->
    <p style="color:rgb(224, 227, 230)"><%- recipe %></p>
    <a href="/filters">
      <button type="button" class="generate-recipe">Generate recipe </button>
    </a>

<!-- delete recipe button -->
    <form action="/clearRecipe" method="post">
      <button type="submit" id="clearRecipeBtn" class="noselect"><span class="text">Delete</span><span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
        </path></svg></span></button>
    </form>



  </div>







<script src="/js/members.js"></script>
  <%- include("templates/navbar") %>
    <%- include("templates/footer") %>

    