<%- include("templates/header") %>

<link rel="stylesheet" href="/css/nutrition.css">

    <div class="d-flex justify-content-center align-items-center calorieBox" style="height: 50vh;">
      <div id="nutritionCard" class=" card w-100 m-5">
        <div class="card-body text-center">
        <h3>Calories</h3> 
        
        <button type="button" class="btn w-50" data-bs-toggle="modal" data-bs-target="#test2">
          More
        </button>
        </div>
      </div>  
    </div>

    <!-- <div class="d-flex justify-content-center align-items-center caffeineBox" style="height: 50vh;">
      <div id="nutritionCard" class=" card w-100 m-5">
        <div class="card-body text-center">
        <h3>Caffeine</h3> 
        
        <button type="button" class="btn w-50" data-bs-toggle="modal" data-bs-target="#test">
          More
        </button>
        </div>
      </div>  
    </div> -->

    
    <div id="test2" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Calories</h5>
            <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <div class="modal-body">
            
            <p>Total Intake: <%= Calories %> </p>

            <p>Goal: <%= calGoal %></p>

             
          </div>
          <div class="modal-footer">
          
              <form action="/nutritionInfo" method="post">
                <input name="calories" type="text" placeholder="Amount">
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
              <form action="/nutritionInfo" method="post">
                <input name="calGoal" type="text" placeholder="Goal">
                <button type="submit" class="btn btn-warning">Goal</button>
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="test" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Caffeine</h5>
            <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Total Intake: <%#  Caffeine %> </p>
            <p>Goal: <%#  cafGoal %></p>
          </div>
          <div class="modal-footer">
              <form action="/nutritionInfo" method="post">
                <input name="caffeine" type="text" placeholder="Amount">
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
              <form action="/nutritionInfo" method="post">
                <input name="cafGoal" type="text" placeholder="Goal">
                <button type="submit" class="btn btn-warning">Goal</button>
              </form>
          </div>
        </div>
      </div>
    </div> -->

  
    

  
    <%- include("templates/navbar") %>
    <%- include("templates/footer") %> 