<!-- includes all html for calorie and carbohydrate counter page -->
<%- include("templates/header") %>
<link rel="stylesheet" href="/css/nutrition.css">

<% if(cal) { %>
<!-- Card to be dispalyed on the screen -->
    <div class="d-flex justify-content-center align-items-center calorieBox" style="height: 50vh;" >
      <div id="nutritionCard" class=" card w-100 m-5">
        <div class="card-body text-center">
        <h2>Calories</h2> 
            

        <% if(calGoal>0 && Calories>0) { %>
          <svg
          class="progress-ring d-flex"
          width="120"
          height="120">
          <% let percent = ( Calories/ calGoal ) * 100 %>
          <% if(percent <= 100) { %>
          <defs>
            <linearGradient id="gradient" gradientTransform="rotate(90)">
              <stop offset="30%" stop-color="orange" />
      <stop offset="60%" stop-color="yellow" />
      <stop offset="100%" stop-color="red" />
            </linearGradient>
          </defs>
         <circle
         id="progressRing"
           class="progress-ring__circle"
           stroke = "url(#gradient)"
           stroke-width="8"
           fill="transparent"
           r="52"
           cx="60"
           cy="60" 
           aria-valuenow="<%= percent %>"/>
          
       </svg>


       <div class="pT d-flex">
        
          <%# Calories  / %><%# calGoal %>  <%= Math.round(percent) %>%
        
        
      </div>
      <% } else { %>
        <p>Error: Calorie Amount esceeds goal. Please update your goal. </p>
        <% } %>
      <% } %>
  
          <p>Total Intake: <%= Calories %> </p>

          <p>Goal: <%= calGoal %></p>
        </div>


        <!-- <button id="more" type="button" class="btn w-50" data-bs-toggle="modal" data-bs-target="#test2" >
          More
        </button> -->

        <form class="goal-form" action="/nutritionInfo" method="post">
        
          <input name="calGoal" type="text" placeholder=" First set today's Goal">
          <button id="goal" type="submit" class="btn btn-light">Goal</button>
        </form>
        <form  action="/nutritionInfo" method="post">
          <input name="calories" type="text" placeholder="Add calorie intake">
          <button id="amount" type="submit" class="btn btn-light">Add</button>
        </form>
       

        </div>
      </div>  
    </div>
    <!-- Card code ends -->

  
<% } else if(carbs){ %>

    <!-- Card to be dispalyed on the screen -->
        <div class="d-flex justify-content-center align-items-center calorieBox" style="height: 50vh;" >
          <div id="nutritionCard" class=" card w-100 m-5">
            <div class="card-body text-center">
            <h2>Carbohydrates</h2> 
                
    
            <% if(carbGoal>0 && Carbohydrates>0) { %>
              <svg
              class="progress-ring d-flex"
              width="120"
              height="120">
              <% let percent = ( Carbohydrates/ carbGoal ) * 100 %>
              <% if(percent <= 100) { %>
              <defs>
                <linearGradient id="gradient" gradientTransform="rotate(90)">
                  
                  <stop offset="60%" stop-color="yellow" />
                  <stop offset="100%" stop-color="brown" />
                </linearGradient>
              </defs>
             <circle
             id="progressRing"
               class="progress-ring__circle"
               stroke = "url(#gradient)"
               stroke-width="8"
               fill="transparent"
               r="52"
               cx="60"
               cy="60" 
               aria-valuenow="<%= percent %>"/>
              
           </svg>
    
    
           <div class="pT d-flex">
            
              <%# Carbohydrates  / %><%# carbGoal %>  <%= Math.round(percent) %>%
            
            
          </div>
          <% } else { %>
            <p>Error: Carbohydrates Amount esceeds goal. Please update your goal. </p>
            <% } %>
          <% } %>
      
              <p>Total Intake: <%= Carbohydrates %> </p>
    
              <p>Goal: <%= carbGoal %></p>
            </div>
    
    
            <!-- <button id="more" type="button" class="btn w-50" data-bs-toggle="modal" data-bs-target="#test2" >
              More
            </button> -->
            <form class="goal-form" action="/nutritionInfo" method="post">
              <input name="carbGoal" type="text" placeholder="First set today's Goal">
              <button id="goal" type="submit" class="btn btn-light">Goal</button>
            </form>
    
            <form action="/nutritionInfo" method="post">
              <input name="carbohydrates" type="text" placeholder="Add carbs intake">
              <button id="amount" type="submit" class="btn btn-light">Add</button>
            </form>
         
            </div>
          </div>  
        </div>
        <!-- Card code ends -->
    
    <% } %>
    <script src="/js/calorie.js"></script>
 <!-- Modal code ends -->
    <%- include("templates/navbar") %>
    <%- include("templates/footer") %> 