
<%- include("templates/header") %> 
<%- include("templates/navbar") %>
<!-- css link -->
<link rel="stylesheet" href="/css/profile.css">

<div class="profile_wrapper">
    <h1 style="text-align: center; font-weight: bold;">Your profile</h1>
<h3> <b> Username: </b> <%= username %></h3>
<h3><b> Email:</b> <%= email %> </h3>
<h3><b> Security question:</b> <%= question %></h3>

<form action="/logout" method="POST">
    
    <button class="signout-button">Sign Out</button></form>
</div>
<%- include("templates/footer") %>
