<!-- Contains the html for the search recipe page -->
<%- include("templates/header") %>

<link rel="stylesheet" href="/css/searchRecipe.css">
<h1 style="color: aliceblue;"> Find a Recipe</h1>


<div class="searchDiv">
  <input id="searchBar" type="text" placeholder="find recipes...">
</div>

<% let numofRecipes = 30 %> 
<% for(let i =0; i < numofRecipes; i++ ) { %>
    <div class="card" style="width: 18rem;">
        <img src="/img/recipes/<%= recipe[i].Image_Name %>.jpg" class="card-img-top" alt="<%= recipe[i].Image_Name %>">
        <div class="card-body">
          <h5 class="card-title"><%= recipe[i].Title %></h5>
          <button type="submit" class="btn btn-light" id="details" data-bs-toggle="modal" data-bs-target="#info" value=" <%= JSON.stringify({recipe: recipe,index: i}) %>" >Details</button>
        </div>
    </div>
    
  <% } %>

<!-- Modal that pops up after clicking details button -->
<div id="info" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

    </div>
    <div class="modal-body">

    </div>

    <div class="modal-footer">

    </div>
  </div>
</div>
</div>

<!-- Scripts connecting javascript files to ejs -->
<script src="/js/searchRecipe.js"></script>
<script src="/js/todo.js"></script>

<%- include("templates/navbar") %>
<%- include("templates/footer") %>